:root {
  --green-color: hsl(75, 94%, 57%);
  --light-grey: hsl(0, 0%, 20%);
  --medium-grey: hsl(0, 0%, 12%);
  --dark-grey: hsl(0, 0%, 8%);
  --mobile-size: 375px;
  --desktop-size: 1440px;
  --light-bold: 400;
  --med-bold: 600;
  --large-bold: 700;
}

*,
*::before,
x::after {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-grey);
  height: 100vh;
  width: 100vh;
  font-family: Inter, sans-serif;
}

.card {
  background-color: var(--medium-grey);
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  margin: 0 auto;
}

.card img {
  height: 88px;
  width: 88px;
  border-radius: 50%;
}

.card h1 {
  color: white;
  font-size: 2.4rem;
  font-weight: var(--large-bold);
}

.card h2 {
  color: var(--green-color);
  font-size: 1.4rem;
  font-weight: var(--large-bold);
}

.card h3 {
  color: white;
}

.card a {
  width: 80%;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--light-grey);
  font-weight: var(--med-bold);
  margin-bottom: 1.6rem;
  padding: 10px 50px;
  border-radius: 0.8rem;
}
